body {
    font-family: Arial, sans-serif;
    background-image: url(https://wallpapers.com/images/high/travel-4k-volcano-ynlmn2hmts0n7gsw.webp);
    /* opacity: ; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-image: url(https://wallpapers.com/images/high/travel-4k-volcano-ynlmn2hmts0n7gsw.webp);
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
}

.bottom-text {
    text-align: center;
}

.bottom-text p {
    margin-top: 15px;
}

.bottom-text a {
    color: #007bff;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}
